apiVersion: v1
kind: Service
metadata:
  name: orchestrator
  namespace: backend
  labels:
    app: orchestrator
spec:
  type: ClusterIP
  selector:
    app: orchestrator
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
